<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black rounded-25">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <h1 class="display-4 text-center mb-4">User Registration</h1>
                                <form class="mx-1 mx-md-4" th:action="@{/register/save}"
                                      th:object="${userRegisterDto}" method="post">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="input-group">
                                                <span class="input-group-text ">
                                                    <i class="bi bi-person"></i>
                                                </span>
                                                <input type="text" class="form-control" id="login" placeholder="Login"
                                                       th:field="*{login}"
                                                       required aria-label="User login">
                                                <label for="login" class="visually-hidden">login</label>
                                                <div class="alert alert-warning" th:if="${#fields.hasErrors('login')}"
                                                     th:errors="*{login}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="input-group">
                                                <span class="input-group-text ">
                                                    <i class="bi bi-envelope-at"></i>
                                                </span>
                                                <input type="email" class="form-control" id="email" placeholder="E-mail"
                                                       th:field="*{email}"
                                                       required aria-label="Email address">
                                                <label for="email" class="visually-hidden">E-mail</label>
                                                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                                                     th:errors="*{email}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-lock"></i>
                                                </span>
                                                <input type="password" class="form-control" id="password"
                                                       placeholder="Password" th:field="*{password}"
                                                       required aria-label="Password">
                                                <label for="password" class="visually-hidden">Password</label>
                                                <div class="alert alert-warning"
                                                     th:if="${#fields.hasErrors('password')}"
                                                     th:errors="*{password}"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-person"></i>
                                                </span>
                                                <input type="text" class="form-control" id="name"
                                                       placeholder="Name" th:field="*{name}" required aria-label="Name">
                                                <label for="name" class="visually-hidden">Name</label>
                                                <div class="alert alert-warning"
                                                     th:if="${#fields.hasErrors('name')}"
                                                     th:errors="*{name}"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-person"></i>
                                                </span>
                                                <input type="text" class="form-control" id="surname"
                                                       placeholder="Surname" th:field="*{surname}" required aria-label="Surname">
                                                <label for="surname" class="visually-hidden">Surname</label>
                                                <div class="alert alert-warning"
                                                     th:if="${#fields.hasErrors('surname')}"
                                                     th:errors="*{surname}"></div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="bi bi-calendar"></i>
                                                </span>
                                                <input type="number" class="form-control" id="age" placeholder="Age"
                                                       th:field="*{age}" required aria-label="Age">
                                                <label for="age" class="visually-hidden">Age</label>
                                            </div>
                                            <div class="alert alert-warning" th:if="${#fields.hasErrors('age')}"
                                                 th:errors="*{age}"></div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://i.imgur.com/lAG3gRc.gif"
                                     class="img-fluid" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
